{% extends "base.html" %}
{% block title %}SuperSundt | Elitesportspakken{% endblock%}
{% block description %}{% endblock%}
{% block content %}
<div class="grid_9">
  <h2>Elitesportspakken</h2> 

  <p>Elitesportspakken er et tilbud til sportsklubber, som
    ønsker at optimere den enkelte udøvers præstation. Med
    foredrag om blandt andet restitution, hypertrofi, vægttab,
    væskebalance og kost, vil sportsklubber, både trænere,
    ledere og atleter, blive rustet til at kunne yde optimalt
    i de respektive sportsgrene, foredragene tilpasses så det
    passer til jeres ønsker og behov. Foredragene henvender
    sig til både ungdoms- og seniorafdelinger, som ønsker
    inspiration og rådgivning til optimering af de fysiske
    præstationer.
  </p>
    
  <p>Ud over foredragene, tilbyder jeg også individuelle
    rådgivningsforløb til den enkelte udøver. Det kan være
    problemstillinger som træthed, vægttab, hypertrofi,
    præstationsevne eller restitution, der ønskes rådgivning
    omkring.
  </p>

    Prisen for elitesportspakken er: 
  <ul>
    <li>Foredrag: 1500 kr. for 50 min. + kørsel.</li>
    <li>Individuel rådgivning af udøver: 1800 kr. (50
      min. indledende samtale, vejninger, fedtmålinger og 2-3
      opfølgninger).</li>
  </ul> 
</div>
<div class="grid_3">
  <img width="200" src="/img/seest-haandbold.jpeg" />
</div>
{% endblock %}

