{% extends "base.html" %}
{% block title %}SuperSundt | Elitesportspakken{% endblock%}
{% block description %}{% endblock%}
{% block content %}
<div class="grid_9">
  <h2>Foredrag</h2> 

  <p>Er et tilbud til offentlige institutioner, private
    virksomheder, mindre sportsforeninger, efterskoler,
    uddannelsessteder m.m.. Foredragene kan have det fokus i
    ønsker, men kunne f.eks. være: De 8 kostråd, kost og
    livsstilrelaterede sygdomme, kost og motion, sundt liv
    (kost, motion, rygning, søvn m.m.).
  </p>

  Prisen for foredrag er følgende:
  <ul>
    <li>Foredrag: fra 2000 DKK.</li>
  </ul>
</div>
<div class="grid_3">
  <img width="200" src="/img/seest-haandbold.jpeg" />
</div>
{% endblock %}

