{% extends "base.html" %}
{% block title %}Super Sundt{% endblock%}
{% block description %}{% endblock%}
{% block content %}
    <div class="slogans grid_12">
      <h3>&#8220;Den rigtige kost øger den fysiske præstation med 10%&#8220;</h3>
      <!-- <h3>&#8220;slogan 1&#8220;</h3> -->
      <!-- <h3>&#8220;slogan 2&#8220;</h3> -->
    </div>
  
    <div class="grid_4" id="gallery" style="height:225px;overflow:hidden"> 
      <div>
        <img src="img/1014574_10451151.jpeg" alt="" width="300"/>
        <img src="img/55150_6280.jpeg" alt="" width="300"/>
  	    <img src="img/845394_47935608.jpeg" alt="" width="300"/>
      </div>
    </div> 
  
    <div class="grid_8">
        <h2>Super Sundt!</h2>
        
        <h3>Super Sundt er for alle</h3>
        <p>Om du er tyk, tyndfed eller åle slank, motionist, amatør
              eller elitesportsudøver er for mig underordnet. Jeg er
              klar med rådgivning og foredrag for alle.  Jeg har ikke
              nogen fast formel for et rådgivningsforløb. En
              elitesportsudøver kan have brug for at opnå synlige
              resultater på kort tid, hvorimod en utrænet person har
              brug for at tage små skridt af gangen. Jeg tilrettelægger
              rådgivningsforløbene således, at de passer til den
              enkeltes ønsker, evner og temperament.
        </p>
    
        <h3>Jeg er ikke sundhedsfanatiker!</h3>
        <p>Tværtimod. Jeg kender alt til lysten til de usunde og
              uhensigtsmæssige valg.  Jeg elsker en is på de varme
              sommerdage, ligesom hjemmebagt kage ofte besejrer løbeturen
              på en kold vinteraften. På travle dage, tyer jeg også til de
              lette løsninger i ny og næ – for det skal der være plads
              til. Det man bare skal huske på er, at det handler om valg
              og prioriteringer. Har man sagt A, må man også sige B. Altså
              skal de usunde og sunde valg balanceres, således at
              regnestykket i sidste ende går op.
        </p>
    </div> 
{% endblock %}
