{% extends "base.html" %}
{% block title %}SuperSundt | Elitesportspakken{% endblock%}
{% block description %}{% endblock%}
{% block content %}
<div class="grid_9">
  <h2>Privat kostrådgivning</h2>
  <p>Er et tilbud til enkeltpersoner/par/familier, der ønsker
at få mere energi, tabe sig eller leve sundere. Ud fra de ønsker som
du/i har, sammensætter jeg et individuelt tilpasset kost og
træningsprogram. Sammen sætter vi et mål og finder frem til den
bedste måde at nå dette mål på.  Jeg yder i hele perioden assistance
via mail og besvarer alle de spørgsmål, som dukker op undervejs.
  </p>
  <p>Kontakt for pris.</p>
</div>
<div class="grid_3">
  <img width="200" src="/img/seest-haandbold.jpeg" />
</div>
{% endblock %}

