{% extends "base.html" %}
{% block title %}Super Sundt | Produkter{% endblock%}
{% block description %}{% endblock%}
{% block content %}
  <div class="grid_4"> 
    <div>
      <h2>Profil og Vision</h2>
    </div>
    <img width="300" src="/img/seest-profil-2.jpg" alt="" />
  </div> 
  
  <div class="grid_8"> 
    <h3>Hvem står bag Super Sundt?</h3>
    <p>Det er mig, Tove. Inkarneret østjyde med veltrænede ben plantet
  solidt i smilets by. Jeg har i mange år kastet rundt med en håndbold
  i verdens bedste kvindeliga, og ved efterhånden meget om, hvordan
  jeg skal spise og træne for at kunne yde optimalt på både
  håndboldbanen, universitetet ogarbejdspladsen. Jeg er uddannet
  fysioterapeut, og er sideløbende med min håndboldkarriere ved at
  færdiggøre mine studier i Human Ernæring.
    </p>

    <blockquote>
      &#8220;For mig handler det om en realistisk afbalancering af de
    sunde og usunde valg frem for en fanatisk tilgang, hvor glæden ved
    at nyde forsvinder.&#8220;
    </blockquote>

    <h3>Du vælger, jeg hjælper</h3>
    <p>Jeg har for et par år siden selv været igennem et forløb med
  kostomlægning og intensiv træning. Dette var dels for at optimere
  min hurtighed og præstation på håndboldbanen og dels for at højne
  mit energiniveau i en travl hverdag. Min faglige ballast samt mine
  erfaringer indenfor både kostomlægning, vægttab og træning har
  gjort, at jeg har et handlingsorienteret perspektiv på sundhed. Det
  er den aktive handling, der skal være i fokus, og det er derfor dig,
  der skal tage en beslutning om at ville ændre noget. Derefter vil
  jeg hjælpe dig derhen på bedste vis.
    </p>

    <blockquote>
&#8220;Jeg arbejder og rådgiver ud fra devisen om, at der med et
    usundt valg altid skal følge et sundt med i købet. Det er den
    rette vej mod målet&#8220;
    </blockquote>
  </div>
{% endblock %}

